mixin display-projects(data)
  - var title = data.title || '';
  - var viewMore = data.learn_more ? true : false;
  - var col = data.col;
  - var shadow_klass = col == 2 ? '' : 'has-shadow';
  - var hasFavorite = data.hasFavorite ? true : false;

  .m-display-projects
    if title
      .l-columns.l-mgn--b-10
        .txt--h1.txt--500.col.l-v--m.l-w--70p!= title
        .col.l-v--m.l-w--30p.txt--r
          if viewMore
            a.m-display-projects--more(href="project-list.html") 查看更多
    .l-columns
      each item, i in data.body
        - var klass = col == 2 ? 'l-w--50p col-2' : 'l-w--100p col-1';
        - var space_klass = (i+1)%2 == 0 ? 'l-pad--l-5' : 'l-pad--r-5';
        - var _price = item.price + '/套';
        - var _days = '制作周期: ' + item.days + '天';
        - var _comments = item.comments + '人评价';
        //- - klass = klass + ' ' + space_klass;
        - var stars_img = item.stars_image || 'ic-stars-5.png';

        
        if (col == 2)
          - klass = klass + ' ' + space_klass;

        a.col.m-display-projects--item(class=klass, href="store.html")
          if (data.hasFavorite)
            .ic--favorite.js-favorite
          img.has-corner--5.l-w--100p(src=paths.img + item.image, class=shadow_klass)
          .m-display-projects--item--name!=item.title
          if (col == 2)
            .m-display-projects--item--price!=_price
            .m-display-projects--item--days!=_days
            .l-columns
              .col.l-w--30p
                img.l-w--100p(src=paths.img + stars_img)
              .col.l-w--60p.l-pad--l-10.m-display-projects--item--comments!=_comments
          else
            .col.l-w--70p.l-v--t
              .m-display-projects--item--price!=_price
              .m-display-projects--item--days!=_days
              .l-columns.l-pad--l-5.l-pad--r-5
                .col.l-w--25p.l-v--m
                  img.l-w--100p(src=paths.img + stars_img)
                .col.l-w--70p.l-pad--l-10.m-display-projects--item--comments.l-v--m!=_comments
            .col.l-w--30p.l-pad--r-10
              .m-display-projects--item--author
                img.has-corner--50p(src=paths.img + item.author)
      if (data.other)
        a.btn-type-1.l-mgn--t-15.l-w--45p.other.txt--500(href="project-list.html")!=data.other









