//- 价格明细 9-1
extends ../partials/_template

block content
  .c-price-detail.l-pad--20
    a.ic--back--black.l-mgn--b-20.js-go-back(href="javascript:void(0)")
    h3.l-mgn--b-10 价格明细
    p 高性价比，高品质服务
    .c-price-detail__container
      each item in price_detail
        .c-price-detail__item.l-columns
          .c-price-detail__item__top.l-w--100p
            .l-w--40p.col.l-pad--r-10.l-v--m
              img.l-w--100p(src=paths.img+item.image)
            .l-w--60p.c-price-detail__item__top__content.col.l-pad--l-5.l-v--m
              p.txt--font--18 类别：#{item.category}级
              p.txt--font--12!= item.description
          .c-price-detail__item__bottom
            each product in item.products
              section.l-mgn--b-15
                .l-w--100p.l-mgn--b-10
                  p.txt--b 商品名：
                  .box-white
                    span.txt--persian-green!= product.name
                .l-w--100p.l-mgn--b-10
                  .l-w--50p.col.l-pad--r-10
                    p 折后价：
                    .box-white.l-inl-b ¥ #{product.discount_price}
                  .l-w--50p.col
                    p.unit 单位：
                    .box-white.l-inl-b!=product.unit
                .l-w--100p.l-mgn--b-10
                  .l-w--50p.col
                    p 原价：
                    .box-white.l-inl-b.txt--cross ¥ #{product.price}
    .hr.l-mgn--t-20.l-mgn--b-20
    .c-price-detail__promo
      h3.l-mgn--b-15 店铺额外优惠：
      .c-price-detail__promo__item
        .icon
          .ic--include__y
        p.c-price-detail__promo__item__content 总价的额外折扣：<span>¥0.00</span>折
      .c-price-detail__promo__item
        .icon
          .ic--include__y
        .c-price-detail__promo__item__content 
          p 满减优惠
          ul
            li 满<span>¥100000.00</span>享有<span>9</span>折
            li 满<span>¥100000.00</span>享有<span>9</span>折
            li 满<span>¥100000.00</span>享有<span>9</span>折
      .c-price-detail__promo__item
        .icon
          .ic--checkbox-3.active
        p.c-price-detail__promo__item__content 额外优惠有效期：2019.6.8-2019.6.30
    .hr.l-mgn--t-20.l-mgn--b-20
    h3.l-mgn--b-15 售后服务
    .c-price-detail__promo__item
      .icon
        .ic--include__y
      p.c-price-detail__promo__item__content 提供正规发票
    .c-price-detail__promo__item
      .icon
        .ic--include__n
      p.c-price-detail__promo__item__content 不提供发票，发票费用需要您另行承担5%
    .c-price-detail__promo__item
      .icon
        .ic--include__n
      p.c-price-detail__promo__item__content 店铺不提供发票、需要平台提供，发票费用需要您另行承担6%
    .c-price-detail__promo__item
      .icon
        .ic--include__y
      p.c-price-detail__promo__item__content 2个月的质量保证期





  //- .c-menu.l-pad--20.no-shadow
    //- a.btn-type-3(href="./9-2.html") 下一步
    