extends ../partials/_template
include ../mixins/_search-bar

block content
  .c-friends(data-js-group-owner)
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black 选择新群主
      .col.c-header--back.l-w--50p
        a.ic--back--black(href="#")
      .col.c-header--other.l-w--50p.txt--r
        a.js-submit.txt--persian-green(href="javascript:void(0);") 完成
    +search-bar-2

        
    ul.c-list.l-columns.c-friends--people
      li.c-list--item
        .col.l-w--70p.l-v--m
          img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
          .c-friends--people--info
            p.name 雨衣人
        .col.l-w--30p.txt--r.l-v--m
          .ic--checkbox-3.js-checkbox(data-img=paths.img + 'chat-detail-thumb.jpg', data-name="雨衣人")
            input(type="hidden", name="userId1")
      li.c-list--item
        .col.l-w--70p
          img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
          .c-friends--people--info
            p.name 雨衣人2
        .col.l-w--30p.txt--r
          .ic--checkbox-3.js-checkbox(data-img=paths.img + 'chat-detail-thumb.jpg', data-name="雨衣人2")
            input(type="hidden", name="userId2")
      li.c-list--item
        .col.l-w--70p
          img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
          .c-friends--people--info
            p.name 雨衣人3
        .col.l-w--30p.txt--r
          .ic--checkbox-3.js-checkbox(data-img=paths.img + 'chat-detail-thumb.jpg', data-name="雨衣人3")
            input(type="hidden", name="userId3")
      li.c-list--item
        .col.l-w--70p
          img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
          .c-friends--people--info
            p.name 雨衣人4
        .col.l-w--30p.txt--r
          .ic--checkbox-3.js-checkbox(data-img=paths.img + 'chat-detail-thumb.jpg', data-name="雨衣人4")
            input(type="hidden", name="userId4")



