//- 项目履历
extends ../partials/_template

block content
  .c-price-detail.c-project-profile.l-pad--20
    a.ic--back--black.l-mgn--b-20.js-go-back(href="javascript:void(0)")
    h2.l-mgn--b-10 项目履历
    .c-price-detail--section
      ul
        li
          span 《问道》:美术原画外包
        li
          span 《斗罗大陆-龙王传说》:游戏loading页&原画外包
        li
          span 《武娘》:美术原画外包
        li
          span 全职高手《影》:美术原画外包
        li
          span 阴阳师本《魅》:游戏loading页&原画外包
    br
    h3.l-mgn--b-20 作品展示
    img.l-mgn--b-5.l-w--100p(src=paths.img + 'project-profile-1.jpg', alt="展示图")
    img.l-mgn--b-5.l-w--100p(src=paths.img + 'project-profile-2.jpg', alt="展示图")
    img.l-mgn--b-5.l-w--100p(src=paths.img + 'project-profile-3.jpg', alt="展示图")
    img.l-mgn--b-5.l-w--100p(src=paths.img + 'project-profile-4.jpg', alt="展示图")
    img.l-mgn--b-5.l-w--100p(src=paths.img + 'project-profile-5.jpg', alt="展示图")

    










