extends ../partials/_template
include ../mixins/_display-projects
include ../mixins/_menu
include ../mixins/_search-bar

block content
  .c-content.l-pad--t-20
    a.ic--back--black.l-mgn--b-20(href="#")
    +search-bar-no-cancel

  .c-content.l-pad--t-20.c-search--3
    .c-search--history(data-js-search)
      h1 最近对话
      ul.c-list.l-columns.c-friends--people
        li.c-list--item
          .col.l-w--100p
            img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
            .c-friends--people--info
              p.name 雨衣人
              p.note 可加为好友，一键添加
        li.c-list--item
          .col.l-w--100p
            img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
            .c-friends--people--info
              p.name 雨衣
              p.note 可加为好友，一键添加
        li.c-list--item
          .col.l-w--100p
            img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
            .c-friends--people--info
              p.name 雨
              p.note 可加为好友，一键添加
        li.c-list--item
          .col.l-w--100p
            img(src=paths.img + 'chat-detail-thumb.jpg', alt="")
            .c-friends--people--info
              p.name 雨衣人
              p.note 可加为好友，一键添加
      hr.hr.l-mgn--t-20.l-mgn--b-20
      .pos-relative.c-search--3--group-chat
        h1 群聊
        ul.c-list
          li.c-list--item
            img(src=paths.img + 'group-thumb.jpg', alt="")
            .c-search--3--group-chat--info
              .title 项目组 (3)
              .brief.
                包含：嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵
          li.c-list--item
            img(src=paths.img + 'group-thumb.jpg', alt="")
            .c-search--3--group-chat--info
              .title 项目组 (13)
              .brief.
                包含：嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵
          li.c-list--item
            img(src=paths.img + 'group-thumb.jpg', alt="")
            .c-search--3--group-chat--info
              .title 项目组 (10)
              .brief.
                包含：嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵 嘻嘻哈哈 玛奇朵

    

