script(src=paths.js + 'vendor/jquery.js')
script(src=paths.js + 'vendor/jquery.validate.min.js')
//- script(src=paths.js + 'vendor/sui.min.js')
script(src=paths.js + 'vendor/moment.js')
script(src=paths.js + 'vendor/slick.min.js')
script(src=paths.js + 'vendor/lightbox.js')
//- script(src=paths.js + 'vendor/jquery.daterangepicker.js')
script(src=paths.js + 'vendor/calendar.js')
script(src=paths.js + 'app.js')