include ../mixins/_helper
include _config
head
  title=app.name
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='stylesheet', href=paths.css + 'vendor/jquery.mobile.theme-1.4.5.css')
  link(rel='stylesheet', href=paths.css + 'vendor/slick.css')
  link(rel='stylesheet', href=paths.css + 'vendor/lightbox.css')
  //- link(rel='stylesheet', href=paths.css + 'vendor/daterangepicker.css')
  link(rek='stylesheet', href=paths.css + 'vendor/calendar.css')
  link(rel='stylesheet', href=paths.css + 'app.css')